ul {
  list-style-type: none;
  padding: 0;
}

form {
  display: flex;
  flex-direction: column;
}

input {
  height: 30px;
  margin: 20px 0;
  width: 30%;
}

button {
  width: 10%;
  height: 30px;
}
